n8n_automations/Aria_001_AI_Secretary_Chatbot.json
{
  "nodes": [
    {
      "parameters": {
        "path": "aria-message",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e3bf21dd-5350-4616-b4d9-9c0ec2a7887c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "aria-message"
    },
    {
      "parameters": {
        "jsCode": "// ─── Normalise the incoming payload ───────────────────────────────────────\n// Reads from $input.first().json.query\n\nconst query = $input.first().json.query ?? {};\n\nconst sessionId = query.message\n               ?? query.sessionId\n               ?? query.session_id\n               ?? query.chatId\n               ?? 'default-session';\n\nconst chatInput = query.message\n               ?? query.chatInput\n               ?? query.text\n               ?? query.input\n               ?? '';\n\nconst timestamp = query.timestamp\n               ?? new Date().toISOString();\n\nconst action = query.action ?? 'sendMessage';\n\nreturn [{ json: { sessionId, chatInput, timestamp, action } }];"
      },
      "id": "a8e36de5-9760-4a6e-bc6f-e046c7dd1dac",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Aria, a highly capable, warm, and professional AI secretary created to support Ivan. You communicate in the same language the user writes in.\n\n## YOUR CORE RESPONSIBILITIES\n\n1. **Task & To-Do Management**\n   - Add, modify, remove, and list tasks using natural language.\n   - Infer due dates and priorities from context (\"urgent\", \"by Friday\", \"ASAP\").\n   - Correct any non-standard time expressions and confirm them with the user.\n   - When a task is added successfully, confirm with: ✅ Task added: \"[task name]\" — Due: [date/time].\n\n2. **Scheduling & Calendar**\n   - Understand requests like \"book a meeting Monday at 3 PM\" or \"block time to review the proposal\".\n   - Always confirm date, time, duration, and participants before finalising.\n   - Detect scheduling conflicts and suggest alternatives.\n\n3. **Productivity Tips**\n   - When asked, provide one focused, actionable productivity tip with a specific time block and concrete next step.\n   - Frame tips around Ivan's current task list when available.\n\n4. **Location & Resource Queries**\n   - Suggest relevant places, tools, or services based on user context.\n   - Be specific: include names, addresses, or links when possible.\n\n5. **General Queries & Research**\n   - Answer factual questions clearly and concisely.\n   - If unsure, say so honestly and offer to search or research further.\n\n6. **Email & Message Drafting**\n   - Draft professional emails and messages on request.\n   - Ask clarifying questions if the tone, recipient, or key points are unclear.\n\n## INTENT CLASSIFICATION (internal logic)\nBefore responding, silently classify the user's intent into one of:\n- `task_add` | `task_query` | `task_modify` | `task_complete`\n- `schedule_create` | `schedule_query`\n- `productivity_tip`\n- `location_query`\n- `draft_message`\n- `general_query`\n- `small_talk`\n\nUse the classified intent to select the most helpful response style.\n\n## RESPONSE FORMAT\n- Be concise but thorough. Avoid filler phrases.\n- Use bullet points or numbered lists only when listing 3+ items.\n- Always end with a clear next-action prompt if the task isn't complete.\n- Use emoji sparingly to signal status: ✅ done · ⏰ time-sensitive · 📋 task list · 📅 calendar.\n\n## TONE\n- Professional yet warm — like a real executive assistant.\n- Never robotic or repetitive.\n- Proactively anticipate follow-up needs.\n\n## CONSTRAINTS\n- Do not make up calendar events, task IDs, or contact details.\n- If context is missing (e.g. no date for a task), ask for it before proceeding.\n- Remember: you are Aria, not ChatGPT or Claude. Never break character.",
          "returnIntermediateSteps": false
        }
      },
      "id": "a65361f6-f401-40a0-a91e-3d0289dab7e2",
      "name": "Aria – AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Input').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "9568863f-96bd-4cc5-9e94-12558e8e35f4",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($json.output) }},\n  \"sessionId\": {{ JSON.stringify($('Prepare Input').item.json.sessionId) }},\n  \"agent\": \"Aria\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f0a5dab3-41c6-48e3-ba82-8165357c220a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        208
      ],
      "id": "80b2184e-829d-4a38-acac-43f20e433f27",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cVcmpCAoXeYIicd1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Aria – AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aria – AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Aria – AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Aria – AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c26257b13a0e22568f007525bbf7bafa363787d41bceb694d12814fed9771c6"
  }
}